/*
* Gtk Colors
* Hardcoded Black & White Theme
*/

@define-color accent_color #ffffff;
@define-color accent_fg_color #000000;
@define-color accent_bg_color #ffffff;
@define-color window_bg_color #000000;
@define-color window_fg_color #ffffff;
@define-color headerbar_bg_color #000000;
@define-color headerbar_fg_color #ffffff;
@define-color popover_bg_color #000000;
@define-color popover_fg_color #ffffff;
@define-color view_bg_color #000000;
@define-color view_fg_color #ffffff;
@define-color card_bg_color #000000;
@define-color card_fg_color #ffffff;
@define-color sidebar_bg_color @window_bg_color;
@define-color sidebar_fg_color @window_fg_color;
@define-color sidebar_border_color @window_bg_color;
@define-color sidebar_backdrop_color @window_bg_color;