/*--------------
    batman logo
--------------*/

#custom-batman {
	padding: 0 12px;
	font-size: 20px;
	color: @accent;
	font-weight: bold;
}

#custom-batman:hover {
	color: @yellow;
	background-color: @base;
	transition: all 0.3s ease;
}

/*--------------
    username / arch icon
--------------*/

#custom-trigger {
	padding: 0;
	margin: 0 2px 0 0;
	background-color: black;
	color: transparent;
	background-image: url("../arch.png");
	background-size: 80%;
	background-repeat: no-repeat;
	background-position: center;
	min-width: 28px;
	min-height: 28px;
	margin-left: 5px;
	transition: background-size 220ms ease;
}

#custom-trigger:hover {
	background-size: 90%;
}

#custom-user {
	padding-right: 12px;
	color: @foreground;
}

/*----------------
    workspaces
----------------*/

#custom-left_div.1,
#custom-right_div.1 {
	color: @workspaces;
}
#workspaces {
	padding: 0 1px;
	background-color: @workspaces;
}
#workspaces button.active label {
	color: @accent;
}

#custom-screenshot {
	padding: 0 10px;
	background-color: @tray;

}

#custom-empty {
	padding: 0 10px;
	background-color: @tray;
}
/*------------------
    window title
------------------*/

#window {
	padding-left: 12px;
	padding-right: 12px;
}
